{{template "header"}}

<form method="POST" action="/apply">

    <label for="firstName">ACCOUNT URL</label>
    <input type="text" id="firstName" name="url">
    <br>

    <label for="lastName">USER ID</label>
    <input type="text" id="lastName" name="id" >
    <br>

    <label for="password">PASSWORD</label>
    <input type="text" id="lastName" name="password" >
    <br>

    <input type="submit">
</form>


{{template "footer"}}