{{template "header"}}

<h3>Note: if your URL number , ID, PASSWORD are corret you can see your script in given link</h3>
<br>
<br>
<br>
<h3>{{.URL}}</h3>
<br>
<br>
<a href={{.URL}}>Click this Link</a><br>

{{template "footer"}}